<!doctype html>
<html>
<head>
    <style>
        body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        }
    </style>
    <title>New Book Insert</title>
</head>
<body>
    <h1>Book Information</h1>
    <form action="/submit" method="post">
    <table>
        <tr>
            <td>Book ID:</td>
            <td><input type="number" id="bookid" name="bookid" required></td>
        </tr>
        <tr>
            <td>Book Name:</td>
            <td><input type="text" id="bookname" name="bookname" required></td>
        </tr>
        <tr>
            <td>Publisher:</td>
            <td><input type="text" id="publisher" name="publisher" required></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" id="price" name="price" required></td>
        </tr>
    </table>
    <input type="submit" value="Submit">
    </form>
</body>
</html>